In [5]:
x=list(map(int,input().split(" ")))
x=list(map(lambda x:x**x*2,x))
print(x)

1 2
[2, 8]

In [1]:
x=lt(map(int,input().split(" ")))
x=list(map(lambda x:))
print(x)is

SyntaxError: invalid syntax (313279653.py, line 2)

In [6]:
inpt=[int(item)for item in input().split()]
op=[inpt[i]-inpt[i-1] if i > 0 else inpt[i] for i in range(len(inpt))]
print(op)

1 2 3
[1, 1, 1]

In [8]:
z=[1,2,3,4]
op=[z[0]]+[x+y for x,y in (zip(z[1:],z[:-1]))]
print(op)

[1, 3, 5, 7]

In [9]:
a=[5,8,15,19]
x=a[1] - a[0]
print(x)

3

In [116]:
a=[5,8,15,19]
x=[for i in range()]

TypeError: 'list' object cannot be interpreted as an integer

In [10]:
x=[1,2,3,4]
if x * x:
    print(x)

TypeError: can't multiply sequence by non-int of type 'list'

In [13]:
d={"a":45,"b":65,"A":5}
a={i.lower():d.get(i.lower())+d.get(i.upper(),0)for i in d}        
print(a)

{'a': 50, 'b': 65}

In [195]:
class InfIter:
    def __iter__(self):
        self.num = 1
        return self

    def __next__(self):
        num = self.num
        self.num += 2
        return num
    
obj=InfIter()
var=iter(obj)
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

1
3
5
7

In [1]:
list1 = [1,3,14,17]
print("Largest element is:", max(list1))

Largest element is: 17

In [226]:
list1 = [1,3,14,17,51,80,19]
x=0
for i in list1:
    if i>x:
        x=i
print(x)

80

In [19]:
list1 = [1,10,7,15,3]
for i in range(len(list1)):
    for j in range(i+1,len(list1)):
        if list1[i]>list1[j]:
              list1[i],list1[j]=list1[j],list1[i]
print(list1)

[1, 3, 7, 10, 15]

In [9]:
def smart_divide(func):
    def inner(a, b):
        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a+b)
    
obj=divide(4,2)

6

In [18]:
def star(func):
    def inner(arg):
        print("*" * 30)
        func(arg)
        print("*" * 30)
    return inner


def percent(func):
    def inner(arg):
        print("%" * 30)
        func(arg)
        print("%" * 30)
    return inner


@star
@percent
def printer(msg):
    print(msg)
printer("Hello")

******************************
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Hello
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
******************************

In [12]:
a=[254,56,120,30,0.5,0]
a.sort()
x=a[-2]
print(a)

[0, 0.5, 30, 56, 120, 254]

In [23]:
a="hello world"
if "e" in a:
    print("e is present")
else:
    pass

e is present

In [32]:
a={"abc":455,"kbc":105}
if "kbc" in a:
    print("True")
else:
    print("False")

True

In [11]:
s={"Ali":{"score":91},"Akbar":{"score":70},"Bilal":{"score":81}}
x=0
st=''
for i in s:
    score=s.get(i)["score"]
    if score>x:
        x=score
        st=i
print({st:x})

{'Ali': 91}

In [34]:
print(105 in a.values())

True

In [41]:
a=["View","Bmw","Skoda","Unicom"]
a.sort(key=len)
print(a)

['Bmw', 'View', 'Skoda', 'Unicom']

In [11]:
s={"Ali":{"score":10},"Akbar":{"score":70},"Bilal":{"score":81}}
max=0
st = ''
for i in s:
    score = s.get(i)['score']
    if score > max:
        max = score
        st = i
print({st:max})

{'Bilal': 81}

In [2]:
list1 = [1,10,7,15,3]
list1.sort()
print(list1)

[1, 3, 7, 10, 15]

In [22]:
lst=[12,11,13,5,6]
for j in range(1,len(lst)):
    while lst[j-1] > lst[j] and j > 0:
        lst[j-1],lst[j]=lst[j],lst[j-1]
        j-=1
print(lst)

[5, 6, 11, 12, 13]

In [17]:
lst=[1,2,3,4,9,16]
newlst=[]
for i in lst:
#     squre=i*2
    newlst.append(i*2)
    print(newlst)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 18]
[2, 4, 6, 8, 18, 32]

In [37]:
x=int(input("Enter No:"))
for i in range(1,11):
    print(x,"x",i,"=",x*i)

Enter No:12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [65]:
n=int(input())
if n%2==1:
    print("Weird")
elif n % 2==0 and 2 <=n<=5:
    print("Not Weird")
elif n% 2==0 and 6<= n <=20:
    print("weird")
else:
    print("not weird")

7
Weird

# zip() fuction

In [14]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
str_lst=["adnan","shanawaz","moin"]
m = zip(name, str_lst)
print(list(m))

[('Manjeet', 'adnan'), ('Nikhil', 'shanawaz'), ('Shambhavi', 'moin')]

# filter() fucntion

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def check_even(number):
    if number % 2 == 0:
          return False 
    else:
        return True
even = filter(check_even, numbers)
print(list(even))

[1, 3, 5, 7, 9]

# map() function

In [8]:
def addition(n):
    return n*n
numbers=[1,2,3,4]
result = map(addition, numbers)
print(list(result))

[1, 4, 9, 16]

# enumerate()

In [7]:
l1 = ["eat", "sleep", "repeat"]
for c in enumerate(l1):
    print(list(c))

[0, 'eat']
[1, 'sleep']
[2, 'repeat']

# join

In [9]:
myTuple = "John"

x = "#".join(myTuple)

print(x)

J#o#h#n

In [100]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
from functools import reduce as cs

# initializing list
lis = [1, 3, 5, 6, 2]

# # using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(cs(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(cs(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [93]:
# Python code to demonstrate working
# of binary search in library
from bisect import bisect_left as bleft

def BinarySearch(a, x):
	i = bleft(a, x)
	if i != len(a) and a[i] == x:
		return i
	else:
		return -1

a = [1,2,3,4]
x = int(4)
res = BinarySearch(a, x)
if res == -1:
	print(x, "is absent")
else:
	print("First occurrence of", x, "is present at", res)

First occurrence of 4 is present at 3

In [22]:
n = int(input())
if n%2==1:
    print("Weird")
elif n%2==0 and 2 >= 5:
    print("Not Weird")
elif n%2==0 and 6 <= n >= 20:
    print("Weird")
else:
    print("Not Weird")

24
Weird

In [28]:
n=int(input())
if n%2==1:
    print("Weird")
elif n% 2==0 and 6<= n <=20:
    print("Weird")
elif n % 2==0 and 2 <=n<=5:
    print("Not Weird")

else:
    print("Not Weird")

20
Weird

In [31]:
n=int(input())
def func(n):
    for i in range(n):
        return i
obj=func(n)
print(obj)

2
0

In [6]:
n=int(input())
for i in range(1,n+1):
    print(i,end="")

20
1234567891011121314151617181920

In [12]:
a=[[2,3]]*2
a[1][0]=3
print(a)

[[3, 3], [3, 3]]

In [54]:
def is_leap(year):

    # Write your logic here


year = int(input())
print(is_leap(year))

2100
None

In [42]:
class vhicle:
    def __init__(self,max_speed,mileage):
        self.a=max_speed
        self.b=mileage
obj=vhicle(250,120)
print(obj.mileage)
print(obj.max_speed)

AttributeError: 'vhicle' object has no attribute 'mileage'

In [50]:
a=[1,1,2,2,2,3,2,4,5,5,6,6,8]
a=set(a)
x=list(a)
print(x)

[1, 2, 3, 4, 5, 6, 8]

In [15]:
def shout(text):
    return text.upper()
 
def whisper(text):
    return text.lower()
 
def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)
 
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [63]:
def hello_decorator(func):
    def inner1():
        print("Hello ,This is before function excution.")
        func()
        print("This is after function excution.")
    return inner1
def function_to_be_used():
    print("This is inside the function.")
fucntion_to_be=hello_decorator(function_to_be_used)
fucntion_to_be()

Hello ,This is before function excution.
This is inside the function.
This is after function excution.

# fibonacci

In [10]:
def fib_ci():
    a=int(input())
    b=int(input())
    while True:
        c=a
        a=b
        b=a+c
        yield b
f=fib_ci()
for i in range(9):
    print(next(f))

203
2
205
207
412
619
1031
1650
2681
4331
7012

In [5]:
 if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())

    print(list([i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1)  if i+j+k !=n))

1
1
1
1
[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [30]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [2]:
for i in range(1,5):
    for k in range(1,5-i):
        print(' ',end='')
    for j in range(i+1,-1):
        print('*',end='')
    print('')

In [62]:
class Student:
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def show(self):
        print(self.id,self.name)
obj=Student(1,"adnan")
obj.id

1

In [1]:
z=set("abc")
z.add("san")
z.update(set(['p','q']))
print(z)

{'a', 'q', 'san', 'b', 'p', 'c'}

In [8]:
a=max(False,-1,-2,-3)
b=min(a,1,4,6)
print(b)

False

In [5]:
d={'name':'adnan',
  'roll':21}
for i in d.items():
    print(i)

('name', 'adnan')
('roll', 21)

In [8]:
a=set()
print(a)

set()

In [13]:
t=(1,2,3,5)
a,b,c,d=t
print(a,b,c,d)

1 2 3 5

In [6]:
s="987654321"
print(s[-1],s[-3])
print(s[-3:],s[:-3])
print(s[-20:-3],s[-20:3])

1 3
321 987654
987654 987

In [8]:
class A:
    def __init__(self,x,y,z):
        self.a=x+y+z
X=A(1,2,3)

In [8]:
x=[i:i+2 for i in range(5)]
print(x)

SyntaxError: invalid syntax (2174383480.py, line 1)

In [20]:
x={i:i for i in range(5) if i%2!=0}
print(x)

{1: 1, 3: 3}

In [20]:
x={i for i in range(5)}
print(x)

{0, 1, 2, 3, 4}

In [21]:
x=[i for i in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [16]:
for i in range(1,100):
    if i%3==0 and i%5==0:
        print(i,'divisible')
    else:
        print(i,'not divisible')

1 not divisible
2 not divisible
3 not divisible
4 not divisible
5 not divisible
6 not divisible
7 not divisible
8 not divisible
9 not divisible
10 not divisible
11 not divisible
12 not divisible
13 not divisible
14 not divisible
15 divisible
16 not divisible
17 not divisible
18 not divisible
19 not divisible
20 not divisible
21 not divisible
22 not divisible
23 not divisible
24 not divisible
25 not divisible
26 not divisible
27 not divisible
28 not divisible
29 not divisible
30 divisible
31 not divisible
32 not divisible
33 not divisible
34 not divisible
35 not divisible
36 not divisible
37 not divisible
38 not divisible
39 not divisible
40 not divisible
41 not divisible
42 not divisible
43 not divisible
44 not divisible
45 divisible
46 not divisible
47 not divisible
48 not divisible
49 not divisible
50 not divisible
51 not divisible
52 not divisible
53 not divisible
54 not divisible
55 not divisible
56 not divisible
57 not divisible
58 not divisible
59 not divisible
60 divisible
61 not divisible
62 not divisible
63 not divisible
64 not divisible
65 not divisible
66 not divisible
67 not divisible
68 not divisible
69 not divisible
70 not divisible
71 not divisible
72 not divisible
73 not divisible
74 not divisible
75 divisible
76 not divisible
77 not divisible
78 not divisible
79 not divisible
80 not divisible
81 not divisible
82 not divisible
83 not divisible
84 not divisible
85 not divisible
86 not divisible
87 not divisible
88 not divisible
89 not divisible
90 divisible
91 not divisible
92 not divisible
93 not divisible
94 not divisible
95 not divisible
96 not divisible
97 not divisible
98 not divisible
99 not divisible

In [29]:
class Student:
    def __init__(self,age):
        self.__age=age        
    # getter method
    def age(self):
        return self.__age    
    # setter method
    def sett(self,x):
        self.__age=x
obj = Student(20)  
# setting the age using setter
obj.sett(25)  
# retrieving age using getter  
print(obj.age())

25

In [14]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
stu=''
for i in student: 
    score=student.get(i)['score']
#     print(score)
    if score>max:
        max=score
#         print(max)
        stu=i
print ({stu:max})

{'Talha': 78}

In [12]:
def swapPositions(lst, pos1, pos2):
     
    lst[pos1], lst[pos2] = lst[pos2], lst[pos1]
    return lst
 
# Driver function
Lst = [23, 65, 19, 90,12,13]
pos1, pos2  = 0, 1
 
print(swapPositions(Lst, pos1, pos2))

[65, 23, 19, 90, 12, 13]

In [15]:
a=[2,47,8]
b=[(lambda x: "even" if x%2==0 else "odd") (x) for x in a]
print(b)

['even', 'odd', 'even']

In [33]:
lst = [2,1,4,3,1,4,2]
def odd_occurring_num(arr):
    return [i for i in lst if lst.count(i) < 2]

print(odd_occurring_num(lst))

[3]

In [18]:
a=[2,1,4,3,3,2,1,4,9]
r=0
for i in a:
    r^=i
print(r)

9

In [5]:
x="hello1"
def func():
    global z
    z="hello"
    print(x)
    
def un():
    print(z)
    print(x)
    
func()
un()

hello1
hello
hello1

In [12]:
class Truck():
    def show(self):
        print("truck")
class Car(Truck):
#     x=super().show()
    def show(self):
        x=super().show()
        print("Car")
        print(x)
        
obj=Car()
obj.show()

truck
Car
None

In [44]:
def SortTuple(tups):
#     print(n) 
    n=len(tups)
    for i in range(n):
        for j in range(n-i-1):              
            if tup[j][1] > tup[j + 1][1]:
                tup[j], tup[j + 1] = tup[j + 1], tup[j]                 
    return tup    
# Driver's code
tup= [("zoo", "peanuts"),(1, 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), (56,"apple")]          
print(SortTuple(tup))

[(56, 'apple'), ('water', 'case'), (1, 'groot'), ('dell', 'ipad'), ('teams', 'ml'), ('zoo', 'peanuts')]

In [128]:
tup= [("zoo", "peanuts"),("1", 'groot'), ("teams","ml"),('dell', 'ipad'), ('water', 'case'), ("56","apple")]
tup.sort(key=lambda t:t[0])
print(tup)

[('1', 'groot'), ('56', 'apple'), ('dell', 'ipad'), ('teams', 'ml'), ('water', 'case'), ('zoo', 'peanuts')]

In [35]:
a={i for i in range(1,10)}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
a=[1,2,4,6]
b=[(lambda x: 'even' if x%2==0 else 'odd') (x) for x in a]
print(b)

['odd', 'even', 'even', 'even']

In [107]:
a={i:i for i in range(1,10)}
print(a)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [39]:
def sqaure(a):
    for i in a:
        a=i**3
        b.append(a)
    c=iter(b)
    obj=next(c)
    for i in obj:
         print(i)
a=[1,2,3,4]
b=[]
sqaure(a)

TypeError: 'int' object is not iterable

In [52]:
a=[1,2,3,4]
b=[5,6,7,8]

c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [60]:
a={i:i for i in range(1,10,2)}
print(a)

{1: 1, 3: 3, 5: 5, 7: 7, 9: 9}

In [57]:
a=[1,2,3,4]
x=tuple(a)
print(x)

(1, 2, 3, 4)

In [121]:
a=[254,56,120,30,0.5,0]
max = 0
for i in a:
    if i > max:
        max = i
print(max)

254

In [96]:
class Person():
    def show(self):
        a=[254,56,120,30,0.5,0] 
        max=0
        for i in a:
            if i > max:
                max=i
        return max
obj=Person()    
print(obj.show())

254

In [143]:
list1 = [11,22,1,2,5,67,21,32]
# to get unique elements
new_list = set(list1)
# removing the largest element from list1
new_list.remove(max(new_list))
print(max(new_list))
# now computing the max element by built-in method?
# print(max(new_list))

32

In [100]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Eric', 'Jodi', 'Vicki', 'Garry'}

In [147]:
a="hello"
lst=a.split()
print(lst)

['hello']

In [6]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [79]:
a=[1,2,3,4,5]
x=[(lambda x: 'even' if x%2==0 else 'odd' ) (x) for x in a]
print(x)

['odd', 'even', 'odd', 'even', 'odd']

In [148]:
a=[(3,"mango"),(2,"banana"),(4,"apple")]
sort_list=sorted(a,key=lambda a:a[0])
print(sort_list)

[(2, 'banana'), (3, 'mango'), (4, 'apple')]

In [17]:
def square(y):
    for i in y:
        a=i**3
        b.append(a)
    return b
x=[1,2,3,4,5]
b=[]
square(x)

[1, 8, 27, 64, 125]

In [25]:
class Person():    
    def myfunc(self):
        a=[254,56,120,30,0.5,0]
        max=0
        for i in a:
            if i > max:
                max=i
        return max
obj=Person()
obj.myfunc()

254

In [112]:
a=[1,1,2,3,3,4,5,4,5]
def myfunc(y):
    x=0
    for i in y:
        x^=i
    return x
myfunc(a)

2

In [32]:
student = {"Umar":{"score": 67}, "Talha":{"score": 78}, "Shadab":{"score": 17}}
max=0
st=''
for i in student:
    score=student.get(i)["score"] 
    if score > max:
        max=score
        st=i
print({st:max})

{'Talha': 78}

In [51]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [52]:
a=[1,2,3,4,5]
b=[6,7,8,9]
c=a+b
c.sort()
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
a={'even' if i%2==0  else 'odd' for i in range(1,10)}
print(a)

{'even', 'odd'}

In [13]:
first=int(input("Enter First Number:"))
operator=input("Select Operator (+,-,*,**,/,//):")
second=int(input("Enter Second Number"))

if  operator == "+":
    print(first+second)
elif operator == "-":
    print(first+second)
elif operator == "*":
    print(first*second)
elif operator == "**":
    print(first**second)
elif operator == "/":
    print(first**second)
elif operator == "//":
    print(first//second)
else:
    print("Please Select Operator")

Enter First Number:22
Select Operator (+,-,*,**,/,//):+22
Enter Second Number22
Please Select Operator

In [13]:
def myfunc(x):
    lst2=[]
    for i in x:
#         a = x[x[i]]
#         print(a)
        lst2.append(x[i])
    return lst2
        
lst=[0,2,5,1,3,4]
myfunc(lst)

[0, 5, 4, 2, 1, 3]

In [4]:
lst=[[2,3,5],[1,2,3]]
def accounts(x):
    x = map(sum,lst)
    return print(max(x))
accounts(lst)

10

In [36]:
nums = [1,3,2,1]
def myfunc(x):
    return nums +nums
myfunc(nums)

[1, 3, 2, 1, 1, 3, 2, 1]

In [45]:
a=[12,345,2,6,7896]

12
345
2
6
7896

In [80]:
lst=[5,8,15,19]
def myfunc(x):
    for i in range(1,4,2):
        lst[i]-=lst[i-1]
    return lst
myfunc(lst)

[5, 3, 15, 4]

In [25]:
x=int(input(("Enter number:")))  
if x==x[::-1]:  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

Enter number:121

TypeError: 'int' object is not subscriptable

In [73]:
a=int(input(""))
for i in range(1,11):
    print(a,"x",i,"=",i*2)

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [81]:
z=[5,8,15,19]
op=[z[0]]+[x-y for x,y in (zip(z[1:],z[:-1]))]
print(op)

[5, 3, 7, 4]

In [98]:
a = "shadab:khan"
x = dict(i.split(":") for i in a.split(";"))
print(x)

{'shadab': 'khan'}

In [121]:
a=input("")
b=dict()
for i in a:
    if i in b:
        b[i]=+1
    else:
        b[i]=1
print(b)

shadabkhan
{'s': 1, 'h': 1, 'a': 1, 'd': 1, 'b': 1, 'k': 1, 'n': 1}

In [125]:
a=1,2,3,4,-5
print(a)

(1, 2, 3, 4, -5)

# sort the list without using inbuilt function

In [31]:
lst = [1,10,7,15,3]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>lst[j]:
              lst[i],lst[j]=lst[j],lst[i]
# print(lst[-3])
print(lst)

[1, 3, 7, 10, 15]

In [7]:
lst = [1,10,7,15,3,4]
for i in range(0,len(lst),2): 
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[10, 1, 15, 7, 4, 3]

In [165]:
a=[12,34,5,4,65,35]
a.sort()
b=a[-2]
print(b)

35

In [42]:
def myfunc(x):
    return x**3
a=[1,2,3,4]
obj=map(myfunc,a)
print(list(obj))

[1, 8, 27, 64]

In [1]:
lst=[1,2,3,4]
obj=[i**3 for i in lst]
print(obj)

[1, 8, 27, 64]

In [10]:
lst=[1,2,3,4]
obj=list(map(lambda x:x**3,lst))
print(obj)

[1, 8, 27, 64]

In [20]:
def myfunc(func):
    def inner(a,b):
        return func(a,b)
    return inner
@myfunc
def xyz(a,b):
    print(a+b)
xyz(10,5)

15

# sort the list without using inbuilt function

In [85]:
lst=[5,4,3,2,1]
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>lst[j]:
            lst[i],lst[j]=lst[j],lst[i]
print(lst)

[1, 2, 3, 4, 5]

In [92]:
# Python program to print Even Numbers in given range
start = int(input("Enter the start of range:"))
end = int(input("Enter the end of range:"))
# iterating each number in list
for num in range(start, end + 1):
    if num % 2 != 0:
        print(num)

Enter the start of range:2
Enter the end of range:5
2 even
3
4 even
5

In [95]:
a=[i for i in range(1,5) if i%2==1]
print(a)

[1, 3]

# print the only odd number

In [19]:
list1 = [1,2,3,4,5]
# we can also print odd no's using lambda exp.
odd= list(filter(lambda x: (x % 2 != 0), list1))
print(odd)

[1, 3, 5]

# cube using lambda function

In [8]:
lst=[1,2,3,4]
square=list(map(lambda x:(x**3),lst))
print(square)

[1, 8, 27, 64]

In [10]:
lst=[1,2,3,4]
odd=[i for i in lst if i%2==1]
print(odd)

[1, 3]

# generator

In [3]:
def square(y):
    for i in range(y):
        yield i+i
        
def test(x):
    for i in square(5):
        print(i+x) 
test(6)

6
8
10
12
14

In [16]:
a=[1,2,3,4]
b=0
for i in a:
    if i > b:
        b=i
print(b)

4

In [5]:
dic={1:22.0,2:55.0,3:67.0}
b=[]
for i in dic.values():
    b.append(float(i))
print(sum(b))

144.0

# cube using function

In [57]:
def square(x):
    for i in x:
        lst=i**3
        b.append(lst)
    print(b)
lst=[1,2,3,4]
b=[]
square(lst)

[1, 8, 27, 64]

# shuffle

In [21]:
a=[1,2,3,4,4,3,2,1]
n=4
b=[]
for i in range(n):
    b.append(a[i])
    b.append(a[i+n])
print(b)

[1, 4, 2, 3, 3, 2, 4, 1]

In [20]:
def square():
    for i in range(1,5):
        print(i**3)
square()

1
8
27
64

In [32]:
def myfunc(x,y):
    a=x*y
    print(a)
    return a
a=int(input())
b=int(input())
obj=myfunc(a,b)

3
3
9

# multipel inheritance

In [36]:
class Person():
    def show(self):
        print("hello")
        
class Student():
    def mark(self):
        print("hello2")
        
class Teacher(Person,Student):
    def work(self):
        print("hello3")
        
obj=Teacher()
obj.show()
obj.mark()

hello
hello2

# multilevel inheritance

In [1]:
class Person():
    def show(self):
        print("hello")
        
class Student(Person):
    def work(self):
        print("hello1")
        
class Teacher(Student):
    def mark(self):
        print("hello3")
        
obj=Teacher()
obj.mark()
obj.work()
obj.show()

hello3
hello1
hello

# Hierarchical Inheritance

In [40]:
class Person():
    def show(self):
        print("hello1")
        
class Student(Person):
    def work(self):
        print("hello3")
        
class Teacher(Person):
    def mark(self):
        print("hello2")
        
obj=Teacher()
obj.

In [57]:
def table(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
x=int(input())
table(x)

32323
32323 x 1 = 32323
32323 x 2 = 64646
32323 x 3 = 96969
32323 x 4 = 129292
32323 x 5 = 161615
32323 x 6 = 193938
32323 x 7 = 226261
32323 x 8 = 258584
32323 x 9 = 290907
32323 x 10 = 323230

In [7]:
import functools
lst=[1,2,3,4,5]
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lst))

The maximum element of the list is : 5

In [22]:
nums = [1,2,3,4,4,3,2,1]
n=4
b=[]
for i in range(n):
    b.append(nums[i])
    b.append(nums[i+n])
print(b)
# [1,4,2,3,3,2,4,1]

[1, 4, 2, 3, 3, 2, 4, 1]

In [107]:
v=["banana","cherry","apple","dangerous"]
for i in range(len(v)):
    for j in range(i+1,len(v)):
        if v[i]>v[j]:
            v[i],v[j]=v[j],v[i]
print(v)

['apple', 'banana', 'cherry', 'dangerous']

In [19]:
v=[2,9,22,1,14,10]
b=v[0]
for i in v:
    if i < b:
        b=i
print(b)

1

In [56]:
lst=[{"adnan":{"score":101},"shanawaz":{"score":99},"saud":{"score":121}}]
max=0
st=''
for i in lst:

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [57]:
import string
  
def ispangram(str):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet:
        if char not in str.lower():
            return False 
    return True
      
# Driver code
string = 'the quick brown fox jumps over the lazy dog'
if(ispangram(string) == True):
    print("Yes")
else:
    print("No")

Yes

In [86]:
def Check_Vow(x, vowels):
    a = [i for i in x if i in vowels]
    print(len(a))
    print(a)
     
# Driver Code
x =input()
vowels = "AaEeIiOoUu"
Check_Vow(x, vowels);

kjkjjhgjhghuyuyl;ljlkuiouyyg
6
['u', 'u', 'u', 'i', 'o', 'u']

In [5]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
x=set({j for i in data for j in i.values()})
print(x)

{'S002', 'S007', 'S001', 'S005', 'S009'}

In [7]:
data=[{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
x=set()
for i in data:
    for j in i.values():
        x.add(j)
print(x)

{'S002', 'S007', 'S005', 'S009', 'S001'}

In [35]:
lst=[1,2,3,4,5]
x=int(input())
for i in range(len(lst)):
    if x == lst[i]:
        print(i)
        break
else:
    print(-1)

1
0

In [8]:
d1={'a':100,'b':200,'c':300}
d2={'a':100,'b':200,'d':400}
for i in d2:
    if i in d1:
        d1[i]=d1[i]+d2[i]
    else:
        d1[i]=d2[i]
print(d1)

{'a': 200, 'b': 400, 'c': 300, 'd': 400}

In [27]:
dic={'a':200,'b':100,'B':100}
x={i.lower():dic.get(i.lower())+dic.get(i.upper(),5) for i in dic}
print(x)

{'a': 205, 'b': 200}

In [33]:
n=int(input("Enter number: "))
a=[]
b=[]
c=[]
for i in range(n):
    x=int(input( 'enter number: '))
    a.append(x)
    if x%2==0:
        b.append(x)
    else:
        c.append(x)
print(b,"even")
print(c,"odd")

Enter number: 10
enter number: 55
enter number: 25
enter number: 1
enter number: 23
enter number: 5
enter number: 63
enter number: 5
enter number: 5
enter number: 5
enter number: 5
[] even
[55, 25, 1, 23, 5, 63, 5, 5, 5, 5] odd

In [55]:
a = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
}}}}
for i in a.values():
    x=i.get('student')['marks']['physics']
print(x)

70

In [60]:
a=input("select your password: ")
n=input("Enter your password: ")
while True:
    if n == a:
        print("correct password")
        break
    else:
        n=input("Please Enter Your correct password: ")

select your password: 123
Enter your password: 12
Please Enter Your correct password: 12
Please Enter Your correct password: 123
correct password

In [16]:
def myfunc(x):
    for i in range(1,11):
        print(x,"*",i,"=",i*x)
n=int(input())
myfunc(n)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [11]:
lst=[22,5,30,223]
b=lst[0]
for i in lst:
    if i < b:
        b=i
print(b)

5

In [29]:
lst=["nittin",1221,1234,"Adda"]

TypeError: can only concatenate str (not "int") to str

In [33]:
a= {'Timur': {'history': 90, 'math': 95, 'literature': 91},
         'Olga': {'history': 92, 'math': 96, 'literature': 81},
         'Nik': {'history': 84, 'math': 85, 'literature': 87}}
for i in a:
    x=i.get('Timur')
print(x)

AttributeError: 'str' object has no attribute 'get'

In [ ]:
Output:
{'Timur': 'math', 'Olga': 'math', 'Nik': 'literature'}

In [23]:
a=[1,2,3,4]
a,b,c,d=x
x=a,b,c,d
print(x)

(1, 2, 3, 4)

In [51]:
for i in range(2,101):
    prime = True
    for j in range(2,i):
        if (i%j==0):
            prime = False
    if prime== True:
        print (i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
lst=[1,2,3,4]
for i in range(0,len(lst),2):
#     if lst[i] >lst[i+1]
    lst[i],lst[i+1]=lst[i+1],lst[i]
print(lst)

[2, 1, 4, 3]

In [ ]:
lst=["bilal","ashar"]
obj=iter(lst)
c=

In [36]:
x=1,2,3
print(x)

(1, 2, 3)

In [1]:
class powtwo:
    def __init__(self,max=0):
        self.max=max
    def __iter__(self):
        self.n=0
        return self
    def __next__(self):
        if self.n <= self.max:
            result=2**self.n
            self.n+=1
            return result
        else: 
            return "stop Iteration"
obj=powtwo(10)
a=iter(obj)
c=next(a)
print(c)

1

In [2]:
n1=50
n2=2
n3=3
n4=8
result= n1/n4-n3*n2+n4
print(result)

8.25

In [4]:
lst=[1,2,3,1,1,3]
a=0
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i] == lst[j]:
            a+=1
print(a)

4

In [17]:
a=int(input("enter first number: "))
b=int(input("enter second number: "))
try:
    c=a/b
    print(c)
except:
    print("division by zero is not allowed")  
else:
    print("error")
finally:
    print("finally")

enter first number: 5
enter second number: 2
2.5
error
finally

In [57]:
a="string123"
if a.isalnum():
    print(True)
else:
    print(False)

True

In [58]:
a=[2,4,3]
b=[5,6,4]
for i in a:
    for j in b:
        x=i+j
    print(x)

6
8
7

In [52]:
a=[4,54,3,4,5,6,4,23]
# output:- [4,5,3,4]
a[-2::-2]

[4, 5, 3, 4]

In [121]:
a=[11,13, 123, 678,786]
for i in a:
    if len(str(i))%2==0:
        print("even")
    else:
        print("odd")

even
even
odd
odd
odd

In [125]:
lst=[1,2,2,3,3,4,5,5,6,6,6]
x=set(lst)
y=list(x)
print(y[0::3])

[1, 4]

In [21]:
a=[1,2,3,4,5]
for i in range(len(a)):
    a[0],a[-1]=a[-1],a[0]
print(a)

[5, 2, 3, 4, 1]

In [23]:
my_list1 = [1, 2, 3]

# Using = operator
new_list = my_list1
# printing the new list
print(new_list)
# Output [1, 2, 3]

# making changes in the original list
my_list1.append(4)
new_list.append(5)

# print both copies
print(my_list1)
# result [1, 2, 3, 4]
print(new_list)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [30]:
from copy import copy
list_1=[1,2,3,4,[8,9]]
list_2=copy(list_1)
list_1.append(5)
print(list_1)
print(list_2)

[1, 2, 3, 4, [8, 9], 5]
[1, 2, 3, 4, [8, 9]]

In [11]:
a=[1,2,2]
for i in range(len(a)):
    if a==a[-1]:
        i+=1
        print(i)
    else:
        print(i)

0
1
2

In [12]:
a=[2,3,2]
for i in a:
    b=i-1
if a[b]<9:
    a[b]+=1
print(a)

[2, 4, 2]

In [3]:
def decor1(func):
    def inner():
        x=func()
        return x*x
    return inner
def decor(func):
    def inner():
        x=func()
        return 2*x
    return inner
@decor1
@decor
def num():
    return 10
print(num())

400

In [11]:
x=50
y=40
print(x and y)

40